  body{
      background-color: orange;
  }

.jumbotron {
    background-image: url("/assets/img/ham.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(3, 3, 3);
    color: #f01111;
    margin-top: 3%;
  }
  #newburger {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #e73904;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }